*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
/* navbar   */
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.logo{
    height:50px;
    width:130px;
    margin: 1px;
    padding:0px;
    background-image:url("logo.jpg");
    background-size:cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}

/* navaddress box */
.navaddress:hover{
    border:2px solid white;
}
.add-icon{
    display:flex;
    padding-bottom:1px;
    margin-left:8px;
}
.deliver{
    color:#cccccc;
    font-size:0.5rem;
    margin-left:25px;
}
.india{
    color:#ffffff;
    font-size:1rem;
    margin-left:6px;
}

/* navsearch  */
.navsearch{
    display:flex;
    height:40px;
    width:620px;
    background-color:rgb(72, 255, 0);
    border-radius:5px;
}
.navsearch:hover{
    border:2px solid rgb(232, 163, 34);
}
.select{
    background-color:#f3f3f3;
    width:40px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    text-align:center;
    border:none;
}
.searchicon{
    background-color:#febd68;
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size:1.3rem;
}
.search{
    width:600px;
    font-size:1rem;
    border:none;
}
/* countrybox*/
.countrybox{
    height:30px;
    width:74px;
    padding-bottom:5px;
}
.countrybox:hover{
    border:2px solid white;
}
.eng{
    font-family:Arial,sans-serif;
    font-size:0.8rem;
}
.flag{
    padding-top:18px;
}

/*  navsign box  */
.signbox{
    height:30px;
    width:130px;
    align-items: center;
}
.signbox:hover{
    border:2px solid white;
}
.hello{
    font-family: Arial,sans-serif;
    font-size:0.7rem;
    color:#ffffff;
}
.acc{
    font-family: Arial,sans-serif;
    font-size:1rem;
    color:#ffffff;
}

/* Returns & Order */
.returnbox{
    height:50;
    width:80px
}
.returnbox:hover{
    border:2px solid white;
}
.return{
    font-family: Arial,sans-serif;
    font-size:0.7rem;
}

/* Cartbox */
.cartbox{
    height:35px;
    width:84px;
    padding-top:5px;
}
.cartbox:hover{
    border:2px solid white;
}
.carticon{
    font-size:2rem;
}
.cart{
    font-size:0.8rem;
    font-family: Arial,sans-serif;
}

/* panelbox */
.panel{
    height:39px;
    background-color:#232f3e;
    color:#ffffff;
    display:flex;
    align-items: center;

}
.panelall{
    font-family:Arial,sans-serif;
    padding-left:10px;
    font-size:1rem;

}
.panelops{
    display:inline;
    font-family:Arial,sans-serif;
    font-size:1rem;
    margin-left:25px;
} 

/* book box */
.book{
    height:340px;
    background-image:url("book image.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:end;

}
.msg{
    background-color:white;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-right:10px;
    font-size:0.9rem;
    width:80%;
    margin-bottom:25px;
    
}
.msg a{
    color:#007185;
}
/* contentbox */
.content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
}
.box{
    height:400px;
    width:23%;
    border:2px solid black;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:18px;
}
.box1-img{
    height:300px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-collection{
    margin:0.2rem 1rem 1rem 1rem;
}
.box-collection p{
    color:#007185;
}
.Gaming{
    height:120px;
    width:200px;
    background-color: #007185;
    background-size:cover;
    display:flex;
    margin:2rem;
}
.Gaming p{
    display:flex;
    color:black;
    align-items:end;
}

/* footer */
footer{
    margin:15px;
}
.foot-panel{
    background-color:#37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.9rem;
}
.foot-panel2{
    background-color:#222f3d;
    color:white;
    height:300px;
    display:flex;
    justify-content:space-evenly;

}
ul{
    margin-top:20px;
}
ul a{
    display:block;
    font-size:0.9rem;
    margin-top:10px;
    color:#dddddd;
}
.foot-panel3{
    height:68px;
    background-color:#222f3d;
    border-top:0.5px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.foot-panel4{
    height:78px;
    background-color:#131A22;
    color:white;
    font-size:0.8rem;
    text-align:center;
}
.pages{
    padding-top:25px;
}
.copyright{
    padding-top:5px;
}